body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: sans-serif;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;
    padding: 0 100px 100px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.front {
    display: flex;
    gap: 20px;
}

.frontText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 300px;
    gap: 10px;
}

.frontText #title {
    font-size: 48px;
    font-weight: bolder;
}

.frontText #text {
    font-size: 16px;
    color: #c7cacf;
}

.front img {
    width: 600px;
    height: 300px;
}

.owlInfo {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 30px 0 40px 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.owl {
    width: 250px;
    text-align: center;
}

.owl img {
    border-radius: 25px;
    width: 250px;
    height: 250px;
    border: 5px solid #3882F6;
}

.owl .text {
    margin-top: 5px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quoteText {
    margin: 100px;
    max-width: 500px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
}

.quote .author {
    font-weight: bold;
    text-align: end;
}

.call {
    margin: 100px 200px;
}

.callBox {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 40px 80px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.callBox #title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    padding: 8px 24px;
    max-width: 100px;
}

.callBox button {
    border: 1px solid white;
}
/* {border: 1px solid red;}